@charset "utf-8";

/* container */
.bx-wrapper{border: none; box-shadow:none;}
.bx-wrapper .bx-pager{height: 110px;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{text-align: center; width: 100%;}
.bx-wrapper .bx-pager.bx-default-pager a{width: 13px; height: 13px; margin: 0 7px; border-radius:13px; background-color: #fff;}
.bx-wrapper .bx-controls-direction a{width: 40px; height: 67px; transform:translateY(-50%);}
.bx-wrapper .bx-prev{background: url(../images/common/prev.png) 0 0 no-repeat; left: 0;}
.bx-wrapper .bx-prev:hover{background: url(../images/common/prev-on.png) 0 0 no-repeat; left: 0;}
.bx-wrapper .bx-next{background: url(../images/common/next.png) 0 0 no-repeat; right: 0;}
.bx-wrapper .bx-next:hover{background: url(../images/common/next-on.png) 0 0 no-repeat; right: 0;}
.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus{background-position: 0 0;}
#inr{margin-bottom: 300px; margin-top: 150px;}
#inr .inr-wrap{max-width: 1200px; margin: 0 auto;}
#inr .inr-wrap h2{font-size: 35px;color: #000; text-align: center; margin-bottom: 80px;}
#inr .inr-wrap ul:after{content:""; display: block; clear: both;}
#inr .inr-wrap ul > li{width: 19%; max-height: 310px; float: left; margin-right: 8%; background-color: #ECEBEB; border-bottom: 15px solid #fff;}
#inr .inr-wrap ul > li:hover,#inr .inr-wrap ul > li:focus{background-color: #88969E;}
#inr .inr-wrap ul > li > a > img{padding-left: 3%;padding-top: 80px;}
#inr .inr-wrap ul > li:last-child{margin: 0;}
#content{color: black;}
#content > h2{font-size: 35px;color: #000; text-align: center; margin-bottom: 80px;}
#content .content-wrap{width: 100%; background-color: black; color: white;}
#content .content-wrap > ul{max-width: 1700px; margin: 0 auto; overflow: hidden;}
#content .content-wrap > ul:after{content:""; display: block; clear: both;}
#content .content-wrap > ul > li{float: left; text-align: center; height: 380px; text-shadow:1px 1px 1px #292929;}
#content .content-wrap > ul > li.ct-1{width: 25%; background: url(../images/main/main-content-1-1.jpg) center no-repeat; background-size: 100%;}
#content .content-wrap > ul > li.ct-2{width: 50%; background: url(../images/main/main-content-2-1.jpg) center no-repeat; background-size: 100%;}
#content .content-wrap > ul > li.ct-3{width: 25%; background: url(../images/main/main-content-3-1.jpg) center no-repeat; background-size: 100%;}
#content .content-wrap > ul > li.ct-4{width: 50%; background: url(../images/main/main-content-4-1.jpg) center no-repeat; background-size: 100%;}
#content .content-wrap > ul > li.ct-5{width: 25%; background: url(../images/main/main-content-5-1.jpg) center no-repeat; background-size: 100%;}
#content .content-wrap > ul > li.ct-6{width: 25%; background: url(../images/main/main-content-6.jpg) center no-repeat; background-size: 100%;}
#content .content-wrap > ul > li > a{display: block; height: 380px;}
#content .content-wrap > ul > li:hover a,#content .content-wrap > ul > li:focus a{background-color: rgba(0,0,0,.6);}
#content .content-wrap > ul > li.ct-1:hover,#content .content-wrap > ul > li.ct-1:focus{background: url(../images/main/main-content-1-2.jpg) center no-repeat; background-size: 115%; transition: 1s ease-in-out;}
#content .content-wrap > ul > li.ct-2:hover,#content .content-wrap > ul > li.ct-2:focus{background: url(../images/main/main-content-2-2.jpg) center no-repeat; background-size: 115%; transition: 1s ease-in-out;}
#content .content-wrap > ul > li.ct-3:hover,#content .content-wrap > ul > li.ct-3:focus{background: url(../images/main/main-content-3-2.jpg) center no-repeat; background-size: 115%; transition: 1s ease-in-out;}
#content .content-wrap > ul > li.ct-4:hover,#content .content-wrap > ul > li.ct-4:focus{background: url(../images/main/main-content-4-2.jpg) center no-repeat; background-size: 115%; transition: 1s ease-in-out;}
#content .content-wrap > ul > li.ct-5:hover,#content .content-wrap > ul > li.ct-5:focus{background: url(../images/main/main-content-5-2.jpg) center no-repeat; background-size: 115%; transition: 1s ease-in-out;}
#content .content-wrap > ul > li.ct-6:hover,#content .content-wrap > ul > li.ct-6:focus{background: url(../images/main/main-content-6.jpg) center no-repeat; background-size: 115%; transition: 1s ease-in-out;}
#content .content-wrap h3.card-title{font-size: 20px; margin-bottom: 15px; padding-top: 285px;}
#content .content-wrap p.card-text{font-size: 15px; margin-bottom: 15px;}
#content .content-wrap p.card-btn{display: none; width: 100px;margin: 0 auto; padding: 2px;}
#content .content-wrap > ul > li:hover h3.card-title,#content .content-wrap > ul > li:focus h3.card-title{padding-top: 250px; transition: .7s}
#content .content-wrap > ul > li:hover p.card-btn,#content .content-wrap > ul > li:focus p.card-btn{display: block; border: 1px solid #fff;}
#bg-story{margin: 75px 0; font-size: 20px; text-shadow:1px 1px 1px #292929;}
#bg-story .text-wrap{max-width: 1200px;min-height: 540px; margin: 0 auto; background: url(../images/main/seiko-1.png) 0 0 no-repeat; text-align: center; letter-spacing: 2px;}
#bg-story p.info{padding-top: 170px; padding-bottom: 5px; font-size: 16px; letter-spacing: 3px;}
#bg-story p.title{margin-bottom: 30px;}
#bg-story p.title:after{content:""; display: block; width: 90px; height: 2px; background-color: white; margin: 0 auto; margin-top: 30px;}
#bg-story p.text{margin-bottom: 35px; font-size: 18px;}
#bg-story p.btn{width: 100px; border: 2px solid #fff; margin: 0 auto; padding: 4px; font-size: 14px;}
#bg-story p.btn:hover{background-color: white; color: #1a1a1a; transition: .7s; text-shadow:none; font-weight: bold;}




@media (max-width: 1520px){
	#content .content-wrap > ul{max-width: 1200px;}
	#content .content-wrap > ul > li{height: 300px;}
	#content .content-wrap h3.card-title{padding-top: 210px;}
	#content .content-wrap > ul > li:hover h3.card-title, #content .content-wrap > ul > li:focus h3.card-title{padding-top: 170px;}
}
@media (max-width: 1199px){

}
@media (max-width: 1022px){

}
@media (max-width: 931px){

@media (max-width: 850px){

@media (max-width: 619px){

}
@media (max-width: 434px){
