@charset "utf-8";

/* container */
#container-bg{background: url(../images/main/main-visual-1.png) center 0 no-repeat;min-height: 720px;}
#container{max-width: 1200px; margin: 0 auto;}
#content-h ul{padding-top: 20px;}
#content-h ul:after{content:""; display: block; clear: both;}
#content-h ul > li:nth-child(1):after{content:">"; display: inline-block; padding-left: 15px;}
#content-h ul > li{float: left; margin-right: 15px; font-size: 15px;}
#content-b{text-align: center;}
#content-b fieldset{padding-top: 50px;}
#content-b fieldset h2{font-size: 45px; padding-bottom: 10px; letter-spacing: 2px;}
#content-b fieldset p.f-1{font-size: 25px; letter-spacing: 2px; padding-bottom: 50px;}
#content-b fieldset .id-w,#content-b fieldset .pw-w{margin: 0 auto; max-width: 266px; padding-bottom: 15px;}
#content-b fieldset p.f-2,#content-b fieldset p.f-3{text-align: left; padding-bottom: 5px; font-size: 15px; letter-spacing: 1px;}
#user-id,#user-pw{font-size: 20px; padding: 5px;}

#submit-b{border: none; margin-top: 30px; width: 100px; height: 40px; font-family: "Arial"; font-weight: bold; color: white; background: #484442;}
#submit-b:hover{background-color: black;}
