@charset "utf-8";

/* container */
#container-bg{background: url(../images/theworld/main-visual-1-3.png) center 0 no-repeat;}
#container{max-width: 1200px; margin: 0 auto;}
#container .ct-h ul{padding-top: 20px;}
#container .ct-h ul:after{content:""; display: block; clear: both;}
#container .ct-h ul > li:nth-child(1) a{font-size: 16px; border-bottom: 1px solid white; margin-left: 30px;}
#container .ct-h ul > li:nth-child(1):after{content:">"; display: inline-block; padding-left: 15px;}
#container .ct-h ul > li{float: left; margin-right: 15px; font-size: 15px;}
#container .ct-b{overflow: hidden; margin:40px 0;}
#container .ct-b-l{float: left; max-width: 500px;}
#container .ct-b-r{float: right; max-width: 700px; font-size: 22px;}
#container .ct-b-r h2{font-size: 50px; letter-spacing: 2px; padding-top: 30px; padding-bottom: 10px; color: #fff;}
#container .ct-b-r p{margin-bottom: 35px; color: #ababab;}
#container .ct-b-r p.ct-b-r-1{color: #fff !important;}
#container .ct-b-r p.ct-b-r-1:after{content:""; display: block; width: 100px; height: 1px; background-color: #fff; margin-left: 10px; margin-top: 40px;}
#ct-scroll{background-color: black;}
#ct-scroll h2{width: 128px; height: 42px; padding: 15px 0; margin: 20px auto; margin-top: 0;}
#ct-scroll .scroll{max-width: 1200px;padding: 10px; margin: 0 auto; position: relative;}
#ct-scroll p{width: 16px; height: 20px; margin-bottom: 5px; margin-left: 8px;}
#ct-scroll ul:after{content:""; display: block; clear: both;}
#ct-scroll ul li{float: left; width: 20%;}
#ct-scroll ul li:after{content: ""; display: inline-block; width: 180px; height: 3px; background: white; vertical-align: middle; margin-left: 10px;}
#seiko-h .year{text-align: center; line-height: 250px; font-size: 40px;}
#seiko-h .y-1881{background: url(../images/theworld/bg-y-1.jpg) center 0 no-repeat;}
#seiko-h .y-1960{background: url(../images/theworld/bg-y-2.jpg) center 0 no-repeat;}
#seiko-h .y-1980{background: url(../images/theworld/bg-y-3.jpg) center 0 no-repeat;}
#seiko-h .y-2000{background: url(../images/theworld/bg-y-4.jpg) center 0 no-repeat;}
#seiko-h .y-2010{background: url(../images/theworld/bg-y-5.jpg) center 0 no-repeat;}




@media (max-width: 1199px){
#content-h{display: none;}
#content-b{margin-top: 40px;}

}
@media (max-width: 650px){
	#content-b fieldset h2,#content-f h2{font-size: 20px;}
	#content-b fieldset p.f-1{font-size: 18px; padding-bottom: 25px;}
	#content-b fieldset p.f-2, #content-b fieldset p.f-3,#content-b fieldset .id-w, #content-b fieldset .pw-w, #content-b fieldset .id-pw{font-size: 13px;}
	#content-f{margin-top: 40px}
	#content-f p{width: 340px; margin: 0 auto;}
}

